---
import { CanvasTest } from "@/react/CanvasTest"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="w-[100vw] h-[100vh]">
		<div class="w-full h-full flex items-stretch justify-stretch">
			<CanvasTest client:visible />
		</div>
	</body>
</html>
