---
import { QCanvasTest } from "@/qwik/CanvasTest";
import { CanvasTest } from "@/react/CanvasTest";
import { ThreeTest } from "@/react/ThreeTest";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex flex-col items-center justify-center w-full h-[100vh]">
		<div class="flex items-center justify-center w-full h-[100vh]">
			<CanvasTest client:visible />
			<ThreeTest client:visible />
		</div>
		<div class="flex items-center justify-center w-full h-[100vh]">
			<QCanvasTest />
		</div>
	</body>
</html>
