---
import { CanvasTest } from "@/react/CanvasTest";
import { ThreeTest } from "@/react/ThreeTest";
import "@ldlework/demo-lib-react/dist/style.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex items-center justify-center w-full h-[100vh]">
		<CanvasTest client:visible />
		<ThreeTest client:visible />
	</body>
</html>
